<div class="add-task" id="add-task" {{#if desk.settings.editable}}{{else}}style="display: none;" {{/if}}>
  <div class="flex">
    <input type="text" id="task-input" maxlength="65">
    <ul class="params">
      <li><label for="multi"><input type="checkbox" id="multi">Multi</label></li>
      <li><label for="important"><input type="checkbox" id="important">Important</label></li>
      <li><label for="private"><input type="checkbox" id="private">Private</label></li>
    </ul>
    <input type="hidden" id="desk-id" value="{{desk._id}}">
    <input type="button" id="add-btn">
  </div>
  <ul class="add-task__subtasks hide" id="subtasks-input">
    <li><input type="text" class="subtask__input"></li>
  </ul>
</div>