<header>
  <div class="content">
    <span class="desk-name">
      {{desk.settings.title}} <span class="desk-type">({{#if desk.settings.private}}private{{else}}public{{/if}})</span>
    </span>
    <a href="/" class="logo">SIMPLE TODO</a>
    <div class="user">
      HI, <span class="name" id="username">{{username}}</span>
      <div class="logout"><a href="/auth/logout">LOG OUT...</a></div>
    </div>
    {{> settings}}
  </div>
</header>