<header>
      <div class="content">
        <span class="desk-name">
          kristi's desk <span class="desk-type">(public)</span>
        </span>
        <a href="/" class="logo">SIMPLE TODO</a>
        <div class="user">
          HI, <span class="name">kristi#0000</span>
          <div class="logout">LOG OUT...</div>
        </div>
      </div>
    </header>