<header>
  <div class="content">
    <span class="desk-name">
      {{desk.settings.title}} <span class="desk-type">({{#if desk.settings.private}}private{{else}}public{{/if}})</span>
    </span>
    <a href="/" class="logo">SIMPLE TODO</a>
    <div class="user">
      HI, <span class="name">{{user}}</span>
      <div class="logout">LOG OUT...</div>
    </div>
    {{> settings}}
  </div>
</header>