<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  <div class="wrapper">
    {{> header }}
    <div class="content">
      {{> add_task }}
      {{{body}}}
      {{> footer}}
    </div>
  </div>
</body>

</html>