<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Simple TODO</title>
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="content">
        <span class="desk-name">
          kristi's desk <span class="desk-type">(public)</span>
        </span>
        <a href="/" class="logo">SIMPLE TODO</a>
        <div class="user">
          HI, <span class="name">kristi#0000</span>
          <div class="logout">LOG OUT...</div>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="add-task">
        <input type="text" id="task-input" maxlength="65">
        <ul class="params">
          <li><label for="multi"><input type="checkbox" id="multi" disabled>Multi</label></li>
          <li><label for="important"><input type="checkbox" id="important">Important</label></li>
          <li><label for="private"><input type="checkbox" id="private">Private</label></li>
        </ul>
        <input type="button" id="add-btn">
      </div>

      <ul class="tasks" id="tasks">
      </ul>
    </div>

    <script src="index.js"></script>
  </div>
</body>

</html>