<!DOCTYPE hmtl>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Simple TODO</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="content" style="justify-content: center;">
                <a href="/" class="logo">SIMPLE TODO</a>
            </div>
        </header>
        <div class="content">
            <div class="hello-line">Please, log in or register to use simple TODO</div>
            <form>
                <input class="username" name="username" placeholder="Input your name">
                <input class="password" type="password" name="password" placeholder="Input your password">
                <input type="submit" class="submit" value="SUBMIT">
            </form>
            <div class="err_msg"></div>
        </div>
        <footer>
            <span class="stack">TODO: Simple Edition(HTML, CSS, JS, Flexbox, NodeJS, http lib</span>
            <span class="credits">Design, client side and server side: kristi</span>
        </footer>
    </div>
</body>

</html>