ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  background: none;
}

input[type="button"] {
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin: 0;
  min-width: 680px;
}

.wrapper {
  font-family: "Segoe UI";
}

header {
  background: linear-gradient(
    90deg,
    rgb(132, 94, 219) 0%,
    rgb(68, 46, 120) 100%
  );
  cursor: default;
  user-select: none;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

header > .content {
  max-width: 1100px;
  justify-content: space-between;
  display: flex;
  padding: 0 10px 0 10px;
}

.wrapper > .content {
  padding: 30px 80px 0 80px;
}

.wrapper > .content > * {
  width: 100%;
}

.desk-name {
  font-size: 30px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.35);
  color: #d6c527;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.desk-name:hover {
  color: #ffe922;
}

.desk-type {
  font-size: 17px;
}

.logo {
  color: #d4c222;
  text-shadow: 0px 3px 4.5px rgba(0, 0, 0, 0.35);
  font-size: 39px;
  font-weight: bold;
  height: 40px;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

.logo:hover {
  color: #ffe922;
}

.user {
  color: #e6d229;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  user-select: none;
  cursor: default;
}

.user .name {
  color: #cb43c0;
  font-weight: bold;
  letter-spacing: 0.5px;
  user-select: all;
  text-transform: uppercase;
}

.name:hover {
  color: #e74dda;
  cursor: pointer;
}

.logout {
  color: #a1931d;
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}

.logout:hover {
  color: #f5e12c;
}

.add-task {
  border: 3px solid #5616a5;
  border-radius: 40px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.35);
  height: 66px;
  display: flex;
  user-select: none;
  margin-bottom: 20px;
}

#task-input {
  border: none;
  border-bottom: 3px solid #a8a8a8;
  margin-left: 15px;
  font-size: 30px;
  padding-bottom: 0px;
  height: 55px;
  background: none;
  flex-grow: 1;
}

#task-input:focus {
  outline: 0;
}

.params {
  display: inline-block;
  margin-left: 5px;
}

.params li {
  list-style: none;
  font-size: 16px;
  line-height: 1.1;
}

#add-btn {
  display: inline;
  border: 3px solid #5616a5;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  padding: 0;
  margin-left: 10px;
  align-self: center;
  background-image: url(img/Plus.png);
  position: relative;
  left: 2px;
}

#add-btn:hover {
  background-color: #5616a5;
  background-image: url(img/Plus_hover.png);
  cursor: pointer;
}

.tasks {
  border: 3px solid #7e32df;
  border-radius: 33px;
  box-shadow: 0px 4.5px 0.5px rgba(0, 0, 0, 0.35);
  padding: 10px;
}

.tasks > li {
  border: 3px solid #732bce;
  border-radius: 33px;
  box-shadow: 0px 3px 4.5px 0.5px rgba(0, 0, 0, 0.35);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 33px;
}

.task-text {
  flex-grow: 1;
  font-size: 26px;
}

.task-text input {
  width: 26px;
  height: 26px;
}

.title {
  font-weight: bold;
}

.subtasks {
  margin-left: 30px;
}

.task-text,
.title,
.subtasks > li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.data {
  display: inline-block;
  font-size: 18px;
  color: #545454;
  text-align: right;
  line-height: 1;
}

.delete, .done > .delete:hover {
  border: none;
  background: url(img/delete_icon.png);
  cursor: pointer;
  width: 50px;
  height: 53px;
  border-radius: 0 33px 33px 0;
  position: relative;
  background-position: center;
  left: 10px;
}

.delete:hover, .done > .delete {
  background: url(img/delete_icon_hover.png);
  background-position: center;
}

.important {
  background: linear-gradient(0, #fedc45, #fca66f);
}

li.multi {
  align-items: flex-start;
  height: auto;
}

.multi > .delete {
  bottom: 10px;
  border-radius: 0 30px 0 0;
}
.multi.done > .delete {
  border-radius: 0 30px 0 0;
}
.done {
  color: #8e8e8e;
}
