a {
    text-decoration: none;
}

h1 {
    margin: 0;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #2d6d30;
    font-weight: bold;
}
