body {
  margin: 0;
}

.wrapper {
  font-family: "Segoe UI";
}

header {
  background: linear-gradient(
    90deg,
    rgb(132, 94, 219) 0%,
    rgb(68, 46, 120) 100%
  );
  cursor: default;
  user-select: none;
}

header > .content {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper > .content {
  max-width: 1100px;
  margin: 0 auto;
}

.desk-title {
  font-size: 30px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.35);
  color: #d6c527;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.desk-title:hover {
  color: #ffe922;
}
.desk-type {
  font-size: 17px;
}

.logo {
  color: #d4c222;
  text-shadow: 0px 3px 4.5px rgba(0, 0, 0, 0.35);
  font-size: 39px;
  font-weight: bold;
  height: 40px;
  line-height: 33px;
  letter-spacing: 1px;
  text-align: center;
}

.user {
  color: #e6d229;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  user-select: none;
}

.user__name {
  color: #cb43c0;
  font-weight: bold;
  letter-spacing: 0.5px;
  user-select: all;
}

.user__name:hover {
  color: #e74dda;
  cursor: pointer;
}
.user__logout {
  color: #a1931d;
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}

.user__logout:hover {
  color: #f5e12c;
}
